.ranking {
    .auto-img{
        width: 100%;
        display: block;
    }
    /deep/ .van-nav-bar .van-icon {
        color: #000;
    }
    .rankingshow-box{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .rankingshow-item{
        flex: 1;
        min-width: 100px;
        margin: 10px;
    }
    .ranking-title{
        font-size: 16px;
        margin: 4px 0px;
    }
}